.product{
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    
}
.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
}
.product-info{
    margin: 7px;
}
.product-info h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    
}
.product-info h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin: 5px 0;
}
.product-info p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    color: #2A414F;
    margin: 4px 0;
}
.product button{
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.product button:hover{
    background-color: orange;
}