nav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo-user-info{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-user-info span{
    color: #FFF;
    font-family: 'Lato';
}
img{
    width: 140px;
    height: 42.46px;
    margin-left: 112px;
}
.nav-link{
    margin-right: 112px;
}
.nav-link a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #FFF;
    margin-right: 32px;
}
.nav-link a:hover{
    color: orange;
}
.signout-btn{
    width: 100px;
    display: inline;
    background-color: #FFF;
    height: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #2A414F;
}
